/* VARIABLES =============== */
* {
	--white-color: #fff;
	--black-color: #000;

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--black-color);
	transition: all var(--hover-time) ease;

}

/* MAIN CONTAINER ===================== */
.container {
	max-width: 1330px;
	min-height: 100vh;
	padding: 15px;
	padding-bottom: 70px;
	margin: 0 auto;
}

button {
	position: relative;
	top: 0;

}

button:active {
	top: 1px;
}