/* VARIABLES =============== */
* {

	--light-blue: #d4ecef;

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

/* PAGE ============================= */
html,
body {
	height: 100%;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--light-blue);
	color: var(--black-color);
}

/* MAIN CONTAINER ===================== */
.container {
	max-width: 1330px;
	padding: 20px 15px;
	margin: 0 auto;
}

.wrapper {
	max-width: 720px;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.content__top {
	width: 100%;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.item {
	flex: 1 1 auto;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.item__img,
.bottom__img {
	height: inherit;
	object-fit: cover;
}

.bottom {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}