/* VARIABLES =============== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--white-color: #fff;
	--black-color: #000;
	--brand-color: #34495e;
	--accent-color: rgb(6, 180, 6);

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--black-color);
}

.container {
	margin: 0 auto;
	padding: 15px;
	max-width: 1230px;
}

#form,
.cart {
	margin: 50px auto;
	padding: 60px;
	max-width: 700px;
	width: 700px;
	border-radius: 15px;
	background-color: var(--brand-color);
}

input {
	margin-bottom: 10px;
	padding: 0 10px;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 7px;
	outline: none;
}

button {
	position: relative;
	top: 0;
	border: none;
	width: 100%;
	height: 35px;
	text-transform: uppercase;
	background-color: var(--accent-color);
	color: var(--white-color);
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}

button:active {
	top: 1px;
}

.wrapper-box {
	margin: 0 auto 50px;
	padding: 0 60px;
	max-width: 700px;
	width: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.psw-box {
	margin: 70px auto;
	padding: 0;
}

.psw-input {
	margin: 0 30px 0 0;
	max-width: 100%;
	border: 1px solid var(--black-color);
	box-shadow: inset 3px 3px 10px var(--brand-color);
}

.price-btn,
.psw-btn {
	max-width: 140px;
	box-shadow: 4px 4px 20px var(--black-color);
}

.price-field {
	max-width: 140px;
	font-size: 18px;
}

.cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	text-transform: capitalize;
	color: white;
	cursor: pointer;
}