* {
	margin: 0;
	padding: 0;
}

.flex-container div {
	border: 1px solid black;
	background-color: white;
	width: 200px;
	height: 200px;
}

.flex-container {
	display: flex;
	background-color: #999;
	padding: 50px;
}