/* VARIABLES =============== */
* {
	--white-color: #fff;
	--black-color: #000;
	--darc-color: rgba(0, 0, 0, .8);

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

/* PAGE ============================= */
html,
body {
	height: 100%;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--darc-color);
	color: var(--black-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(10, 100px);
	grid-template-rows: repeat(6, 50px);
	background-color: var(--white-color);
}

.item {
	border: 1px dashed var(--black-color);
}