* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 50px 40px;
}

table,
th,
td {
	border: 1px solid black;
}

table {
	max-width: 1592px;
	max-height: 901px;
	font-size: 30px;
	box-shadow: 1px 1px 3px 0 black;
}

th {
	text-align: center;
}

td,
th {
	padding: 5px 10px;
	box-shadow: inset 1px 1px 3px 0 black;
}

.table__xpath {
	height: 70px;
}

.table__time {
	background-color: #fffed0;
}

.table__time--day {
	background-color: #d2fad1;
}

.table__time--evening {
	background-color: #cfd0fd;
}

.footer {
	width: 100%;
	min-height: 150px;
	background-color: #bec9ff;
}

.logos {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}


.logos__item {
	list-style: none;
}

.logos__item:not(:last-child) {
	margin-right: 80px;
}

.logos__links {
	display: block;
	outline: none;
	transition: transform .5s ease;
}

.logos__links:hover {
	transform: scale(1.1);
}