/* VARIABLES =============== */
* {
	--white-color: #fff;
	--black-color: #000;

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

/* PAGE ============================= */
html,
body {
	height: 100%;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--black-color);
}

/* SHELL ========================= */
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* MAIN UNIT ===================== */
.main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 100px;
}

/* MAIN CONTAINER ===================== */
.container {
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	margin: 0 auto 40px;
	padding: 5px;
	width: 70px;
	height: 70px;
}