/* Variables============ */
* {
	--white-color: #fff;
	--black-color: #000;
	--divider-color: #c4c4c4;
	--accent-light: #4fbfa5;
	--accent-dark: #00868a;

	--hover-time: .4s;
}

/* Страница ============================= */
html,
body {
	height: 100%;
}

body {
	font-family: "ABeeZee", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--white-color);
	counter-reset: var(--white-color);
}


/* ОБОЛОЧКА ========================= */
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ОСНОВНОЙ БЛОК ===================== */
.main {
	flex: 1 1 auto;
}

/* ОСНОВНОЙ КОНТЕЙНЕР ===================== */
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header ============================ */
.header__top {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	border-left: 1px solid var(--divider-color);
}

.logo {
	position: relative;
	top: 0;
	max-width: 74px;
	height: 74px;
	border-radius: 50%;
	outline: none;
	background-color: var(--white-color);
	transition: transform var(--hover-time) linear, box-shadow var(--hover-time) linear;
}

.logo:hover {
	transform: scale(1.2);
}

.logo:focus {
	box-shadow: 5px 5px 15px 0 var(--black-color);
}

.logo:active {
	top: 1px;
}

.media {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.media__item {
	flex: 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-right: 1px solid var(--divider-color);
}

.media__item:first-child {
	border-left: 1px solid var(--divider-color);
}

.media__link {
	position: relative;
	top: 0;
	flex: 0 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	outline: none;
	border-radius: 50%;
	transition: box-shadow var(--hover-time) linear;
}

.media__link:hover .media__icon {
	transform: scale(1.2);
}

.media__link:focus .media__icon {
	transform: scale(1.2);
}

.media__link:focus {
	box-shadow: 5px 5px 15px 0 var(--black-color);
}

.media__link:active {
	top: 1px;
}

.media__icon {
	width: 25px;
	height: 25px;
	fill: var(--accent-light);
	transition: transform var(--hover-time) linear;
}

.header__bottom {
	background-color: var(--accent-light);
}

.nav__list {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__item {
	padding: 5px 0;
}

.nav__link {
	padding: 5px 0;
	outline: none;
	transition: background-size var(--hover-time) linear, color var(--hover-time) linear;
}

.nav__link {
	position: relative;
	top: 0;
	background:
		linear-gradient(to right,
			var(--accent-light),
			var(--accent-light)),
		linear-gradient(to right,
			var(--white-color),
			var(--white-color));
	background-size: 100% 1px, 0 1px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;
}

.nav__link:focus {
	color: var(--accent-dark);
}

.nav__link:hover {
	background-size: 0 1px, 100% 1px;
}

.nav__link:active {
	top: 1px;
}


.nav__item--button {
	flex: 0 0 194px;
}

.button {
	position: relative;
	top: 0;
	width: 100%;
	line-height: 42px;
	padding: 0 15px;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 5px 5px 15px 0 transparent;
	transition: background-color var(--hover-time) linear, color var(--hover-time) linear, box-shadow var(--hover-time) linear;
}

.nav__button {
	background-color: var(--white-color);
	color: var(--black-color);
}

.button:focus {
	box-shadow: 5px 5px 15px 0 var(--black-color);
}

.nav__button:hover {
	background-color: var(--accent-dark);
	color: var(--white-color);
}

.button:active {
	top: 1px;
}

/* Hero ========================================= */
.hero {
	background-color: var(--accent-light);
}

.hero__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0 57px;
}

.hero__content {
	max-width: 416px;
}

.hero__title {
	font-size: 48px;
	margin-bottom: 20px;
}

.hero__description {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 40px;
}

.hero__button {
	max-width: 158px;
	text-transform: uppercase;
	line-height: 40px;
	padding: 5px 10px;
	background-color: var(--accent-dark);
	color: var(--white-color);
}

.hero__button:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}

.hero__picture {
	max-width: 746px;
	min-height: 533px;
}

/* Gallery ================================== */

.gallery {
	padding: 146px 0 130px;
}

.gallery__title {
	text-align: center;
	font-size: 48px;
	line-height: 72px;
	color: var(--accent-dark);
	margin-bottom: 60px;
}

.gallery__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.cart {
	position: relative;
	max-width: 306px;
	min-height: 343px;
	background-color: var(--accent-dark);
}

.cart:nth-child(3)::after,
.cart:nth-child(4)::after {
	content: 'new';
	position: absolute;
	z-index: 50;
	top: 30px;
	left: 30px;
	text-transform: uppercase;
	line-height: 21px;
	padding: 10px 15px;
	cursor: pointer;
	background-color: var(--accent-dark);
	color: var(--white-color);
}

.cart__picture {
	display: block;
	width: 100%;
	height: 230px;
	outline: none;
	overflow: hidden;
	background-color: var(--white-color);
	transition: opacity var(--hover-time) linear;
}

.cart__picture:focus {
	opacity: .7;
}

.cart__picture:hover .cart__image {
	transform: scale(1);
}

.cart__image {
	object-fit: cover;
	transition: hoverTime ease;
	transition: transform var(--hover-time) linear;
	transform: scale(1.1);
}

.cart__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 30px;
}

.cart__description {
	max-width: 180px;
	font-size: 21px;
	line-height: 32px;
}

.cart__button {
	position: relative;
	top: 0;
	width: 50px;
	height: 40px;
	border: 1px solid var(--white-color);
	outline: none;
	transition: background-color var(--hover-time) linear;
}

.cart__button:focus {
	box-shadow: 5px 5px 10px 0 var(--black-color);
}

.cart__button:hover {
	background-color: var(--white-color);
}

.cart__button:hover .btn__arrow {
	background-color: var(--accent-dark);
}

.cart__button:active {
	top: 1px;
}

.btn__arrow.btn__arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 1px;
	background-color: var(--white-color);
	transition: background-color var(--hover-time) linear;
}

.btn__arrow::before,
.btn__arrow::after {
	content: "";
	position: absolute;
	right: 2px;
	width: 1px;
	height: 8px;
	background-color: inherit;
}

.btn__arrow::before {
	top: -1px;
	transform: rotate(45deg);
}

.btn__arrow::after {
	bottom: -1px;
	transform: rotate(-45deg);
}

/* Footer =================== */
.footer__content {
	border-top: 1px solid var(--divider-color);
	padding-bottom: 20px;
}

.footer__content .media {
	border-left: 1px solid var(--divider-color);
}