/* VARIABLES =============== */
* {
	--white-color: #fff;
	--black-color: #000;
	--darc-color: rgba(0, 0, 0, .8);
	--brand-color: #102a35;
	--blue-color: #0000ff;
	--yellow-color: #cdcd00;
}

html,
body {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	font-weight: 400;
	font-style: regular;
	font-size: 16px;
	background-color: var(--darc-color);
	color: var(--black-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	padding: 10px 10px 20px;
	background-color: var(--white-color);
}

.list {
	display: grid;
	grid-template-columns: repeat(9, 100px);
	grid-template-rows: repeat(4, 100px);
	background-color: var(--brand-color);
	gap: 2px;
}

.item {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 2px solid var(--blue-color);
}

.title {
	font-size: 26px;
	font-weight: 700;
	line-height: 40px;
	color: var(--blue-color);
}

.accent {
	border: 3px solid var(--yellow-color);
}

.accent h2 {
	color: var(--yellow-color);
}

.item:nth-child(3) {
	grid-column: 7;
}

.item:nth-child(24) {
	grid-column: 2;
}