/* VARIABLES =============== */
* {
	--white-color: #fff;
	--black-color: #000;

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

/* PAGE ============================= */
html,
body {
	height: 100%;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--black-color);
}


.game-body {
	padding: 70px 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.game-body h2 {
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 40px;
}

.game-body h3 {
	font-size: 30px;
	margin-bottom: 40px;
}

ul {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.item {
	position: relative;
	top: 0;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: salmon;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 5px 5px 30px var(--black-color);
	transition: background-color var(--hover-time) ease;
}

.item:hover {
	background-color: red;
}

.item:active {
	top: 1px;
}

img {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
	width: 80px;
	height: 80px;
	cursor: unset;
}

.result {
	text-align: center;
	width: 100%;
	height: 50px;
}